.side-profiles
  .mypage-avatar
    - if @user.image.blank?
      = image_tag "avatar.svg", class: "avatar-img"
    - else
      = image_tag @user.image, class: "avatar-img"
    .side-profiles__name.bold
      = @user.nickname
  .side-profiles__customer-favorites
    = link_to "お気に入り一覧", user_path(@user), method: :GET, id: "side-profile"
  .side-profiles__customer-history
    = link_to "購入履歴一覧",  history_users_path, method: :GET, class: "history-link", id: "side-profile"
  .side-profiles__customer-img.side-profile
    = link_to "プロフィール設定", edit_user_path(@user), method: :GET, id: "side-profile"
  .side-profiles__customer-edit.side-profile
    = link_to "本人情報内容変更", edit_user_users_path(@user), method: :GET, id: "side-profile"
  .side-profiles__card-edit.side-profile
    = link_to "クレジットカード登録", add_card_users_path, method: :GET, id: "side-profile"
  .side-profiles__customer-img.side-profile
    = link_to "メールアドレス・パスワードの変更", edit_user_registration_path, method: :GET, id: "side-profile"
  .side-profiles__logout.side-profile
    = link_to "ログアウト", destroy_user_session_path, method: :DELETE, id: "side-profile"
