= render 'layouts/header'
.mypage-top
  .mypage-main
    = render 'users/mypage_sidebar'
    .tabs
      %input#tab1.tabs-item{type:"radio", name: "tab_btn"}
      %input#tab2.tabs-item{type:"radio", name: "tab_btn", checked: "checked"}
      .tab_area
        %label.tab1_label{for: "tab1"} お気に入り一覧
        %label.tab2_label{for: "tab2"} 購入履歴
      .panel_area
        %ul.tab_panel#panel1
          - if @favorite.present?
            - @favorite.each do |favorite|
              = link_to product_path(favorite.product) do
                %li.mypage-link
                  .mypage-link__image
                    = image_tag favorite.product.image.to_s, class: "mypage-link__img-box"
                  .mypage-link__body
                    .mypage-link__title
                      = favorite.product.title
                    .mypage-link__price
                      = "￥" + favorite.product.price.to_s
                    %p.mypage-link__tax (税込)
                  .fa.fa-chevron-right
          - else
            .mypage-favorite-not-found お気に入りがありません
        %ul.tab_panel#panel2
          - if @favorite.present?
            - @favorite.each do |favorite|
              = link_to product_path(favorite.product) do
                %li.mypage-link
                  .mypage-link__image
                    = image_tag favorite.product.image.to_s, class: "mypage-link__img-box"
                  .mypage-link__body
                    .mypage-link__title
                      = favorite.product.title
                    .mypage-link__price
                      = "￥" + favorite.product.price.to_s
                    %p.mypage-link__tax (税込)
                  .fa.fa-chevron-right
          - else
            .mypage-item-not-found 購入履歴がありません

