= render 'layouts/header'
.top-image
  = image_tag("room2.jpg", alt: "top-picture", class: "topimage", style:"width: 100%" )
.main
  .products.ranking
    %p.heading BEST
    .items-box
      %ul.bxslider
        = @products.each do |product|
          %li
          = link_to product_path(product) do
            - if product.image?
              = image_tag product.image.to_s, class: "product-image"
            - else
              画像が表示されません
  .products.new-products
    %p.heading NEW
    .items-box
      - @products.each do |product|
        %section.items-box__contents
          %a{href: "/products/#{product.id}"}
            %figure.items-box__photo
              = image_tag product.image.to_s, class: "product-image"
            .items-box__body
              .items-box__name
                = product.title
              .items-box__num
                .items-box__price
                  = product.price
                .iine-wrapper
                  %span.fa.fa-heart.like-btn-index
                    %span.iinemaenum
                      // = Favorite.where(product_id: product.id).count
                %p.items-box__tax (税込)
      .view-all
