= render 'layouts/header'
.top-image
  = image_tag("room2.jpg", alt: "top-picture", class: "topimage", style:"width: 100%" )
.main
  .products.ranking
    %p.heading BEST
    .items-box
      %ul.bxslider
        - @products.each do |product|
          %figure.items-box__ranking
            = link_to product_path(product) do
              = image_tag product.image.to_s, class: "product-image"
            .favorite-button-index#favorite-buttons
              = render partial: "favorites/favorite", locals: { product: product }
  .products.new-products
    %p.heading NEW
    .items-box
      - @products.each do |product|
        %section.items-box__contents
          %figure.items-box__photo
            = link_to product_path(product) do
              = image_tag product.image.to_s, class: "product-image"
            .favorite-button-index#favorite-buttons
              = render partial: "favorites/favorite", locals: { product: product }
          .items-box__body
            .items-box__name
              = product.title
            .items-box__num
              .items-box__price
                = "￥" + product.price.to_s
              %p.items-box__tax (税込)
      .view-all


