= render 'layouts/header'

.main
  .category-search-result
    %p.search-result_main_text
      -if @products[0].present?
        = "#{params[:keyword]} の検索結果"
      - else
        = "「 #{params[:keyword]} 」に合致したアイテムは見つかりません"
  .products
    = render "layouts/products"
