.header
  %ul.header__inner
    %li.header__menu
      .bars
        %a.fa.fa-bars.fa-2x
        %ul.menu
          %li
            = link_to root_path do
              %p HOME
          %li
            = link_to news_users_path do
              %p NEWS
          %li
            = link_to about_users_path do
              %p ABOUT
          %li.catedory
            %a CATEGORY
            %ul.menu-category
              %li
                = link_to category_products_path(id: 1) do
                  %p POP
              %li
                = link_to category_products_path(id: 2) do
                  %p CLASSICAL
              %li
                = link_to category_products_path(id: 3) do
                  %p MODERN
    %li.header__search
      = form_tag('/products/search', method: :get, class: "search-form") do
        %input.input-search{name: "keyword", placeholder: "キーワードから探す", type: "text", value: ""}
          %button.btn-search{title: "検索", type: "submit"}
            %i.fa.fa-search.fa-2x
    %li.header__titles Creative Art Store
    %li.header__right
      - if user_signed_in?
        %a.bag{href: "/"}
          %i.fa.fa-shopping-cart.fa-2x
        %a.mypage
          = link_to "My Page", user_path(current_user.id), method: :GET
      - else
        %a.signup
          = link_to "Sign Up", new_user_registration_path, method: :GET
        %a.signin
          = link_to "Sign In", new_user_session_path, method: :GET
  = render 'layouts/flash'
