.items-box
  - @products.each do |product|
    %section.items-box__contents
      %figure.items-box__photo
        = link_to product_path(product) do
          = image_tag product.image.to_s, class: "product-image"
        .favorite-button-index#favorite-buttons
          = render partial: "favorites/favorite", locals: { product: product }
      .items-box__body
        .items-box__name
          = product.title
        .items-box__num
          .items-box__price
            = "￥" + product.price.to_s
          %p.items-box__tax (税込)
